@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% hauteur */
    margin: .5rem;
}

main {
    flex: 1 0 auto;
}

h1 {
    display: none;
}
